.p-2{
  margin: 10px;
  padding: 10px;


}


.nav{
  background: rgb(19, 3, 75);
  align-items: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
h1{
  color: aliceblue;
}
body{
  margin: 0;

}
.ms-auto button{
  background: rgb(25, 25, 87);
}