

.nav{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  background: whitesmoke;

}
h1{
  color: rgb(41, 136, 220);
  font-weight: bolder;
  letter-spacing: 5px;
}

.ms-auto button{
  background: none;
  border: 2px solid  white;
}

.logo{
  padding: 10px;
  
}

.menu{
  font-weight: bold;
  


}
.itemlist{
  background: red;
  display: flex;
  justify-content: center;
}